.prodinfo {
   max-width: 425px;
   padding: 20px;
   display: flex;
   flex-direction: column;
   gap: 15px;
}
.prodinfo__container {
   display: flex;
   justify-content: space-around;
   align-items: center;
   gap: 10px;
}
.prodinfo__item:last-child {
   padding-left: 15px;
}
.prodinfo__buttons {
   display: flex;
   align-items: center;
   gap: 10px;
}
.prodinfo__buttons button {
   background-color: lightgrey;
}
.prodinfo__btn {
   background-color: lightgrey;
   padding: 7px;
}