.modalcategory {
    background-color: #0009;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: transform .5s;
}
.modalcategory.active {
    transform: scale(1);
    transition: transform .5s;
}
.modalcategory__error {
    color: red;
}
.modalcategory__form {
    background-color: gray;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.modalcategory__close {
    align-self: flex-end;
}
.modalcategory__field {
    display: flex;
    flex-direction: column;
}
.modalcategory__btn {
    margin-top: 10px;
}