.navbar__navbar {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__list {
    display: flex;
    align-items: center;
    gap: 10px;
}
.navbar__item a {
    font-size: 1.75rem;
    display: flex;
}
.navbar__toggle {
    font-size: 1.65rem;
    color: dodgerblue;
    position: relative;
}
.navbar__count {
    color: white;
    width: 20px;
    text-align: center;
    padding: 0 5px;
    position: absolute;
    bottom: 55%;
    left: 55%;
    transform: translate(-50%, 40%);
    font-size: .65rem;
    font-weight: 900;
}
.navbar__modal {
    background-color: grey;
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100vh;
    z-index: 10;
    transition: right .5s;
}
.navbar__modal.active {
    right: 0;
    transition: right .5s;
}
.navbar__buttons {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.navbar__products {
    background-color: blueviolet;
    height: 70vh;
    overflow-y: scroll;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: start;
    gap: 10px;
}
.navbar__totals {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.navbar__totals ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.navbar__buy {
    width: 50%;
}
.navbar__pay,
.navbar__alert {
    background-color: grey;
    color: springgreen;
    text-align: center;
    padding: 5px 10px;
    border-radius: 10px;
    z-index: 10;
    position: fixed;
    top: -75px;
    left: 50%;
    transform: translateX(-50%);
    transition: top 1.5s;
}
.navbar__pay.active,
.navbar__alert.active {
    top: 50px;
    transition: top 1.5s;
}