.clothesplace {
    width: 70%;
}
.clothesplace__title {
    padding-left: 30px;
}
.clothesplace__container {
    border: 1px solid #5555;
    padding: 20px 10px;
    scrollbar-color: dodgerblue transparent;
    height: 915px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px 10px;
}

@media (width < 1010px) {
    .clothesplace {
        width: 65%;
    }
}
@media (width < 900px) {
    .clothesplace {
        width: 55%;
    }
}
@media (width < 700px) {
    .clothesplace {
        width: 45%;
    }
}
@media (width < 600px) {
    .clothesplace {
        width: 100%;
    }
    .clothesplace__container {
        height: 475px;
    }
}