.furnitureplace {
    width: 100%;
}
.furnitureplace__title {
    padding-left: 30px;
}
.furnitureplace__container {
    padding: 10px;
    scrollbar-color: dodgerblue transparent;
    height: 925px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

@media (width < 600px) {
    .furnitureplace__container {
        height: 475px;
    }
}