.miscellaneousplace {
    width: 100%;
}
.miscellaneousplace__title {
    padding-left: 30px;
}
.miscellaneousplace .splide__track {
    padding: 30px 0;
}
.miscellaneousplace .splide__slide {
    display: flex;
    justify-content: center;
    align-items: center;
}