.modifypage {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modifypage__form {
    width: 250px;
    border: 1px solid;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.modifypage__field {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modifypage__field label {
    padding-left: 15px;
}
.modifypage__field input {
    width: 175px;
}
.modifypage__field ion-icon {
    color: grey;
    cursor: pointer;
    position: absolute;
    top: 23px;
    right: 25px;
}
.modifypage__field.active::after {
    content: 'Error';
    color: red;
    text-align: center;
}
.modifypage__field.active:nth-of-type(4)::after {
    content: "the password is wrong";
}
.modifypage__field.active:nth-of-type(5)::after {
    content: 'the passwords are not equals';
}
.modifypage__field.active input {
    border-color: red;
}
.modifypage__btn {
    margin-top: 10px;
}