.registerpage {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.registerpage__error {
    color: red;
    text-align: center;
}
.registerpage__test {
    position: relative;
}
.registerpage__test::after {
    width: max-content;
    content: 'the password is 1234';
    position: absolute;
    bottom: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, 50%)
                scale(.5);
    background-color: grey;
    color: springgreen;
    padding: 5px 10px;
    border-radius: 10px;
    transition: transform .5s,
                opacity .5s,
                bottom .5s;
}
.registerpage__test:hover:after {
    bottom: 200%;
    opacity: 1;
    transform: translate(-50%, 50%)
                scale(1);
    transition: transform .5s,
                opacity .5s,
                bottom .5s;
}
.registerpage__form {
    width: 250px;
    max-width: 80%;
    padding: 15px;
    border: 1px solid;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.registerpage__p::after {
    content: ' *';
    color: red;
}
.registerpage__item {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.registerpage__item input {
    width: 175px;
}
.registerpage__item label::before {
    content: '* ';
    color: red;
}
.registerpage__item:last-of-type label::before {
    visibility: hidden;
}
.registerpage__item.active input {
    border: 2px solid red;
}
.registerpage__item.active::after {
    content: 'Error';
    color: red;
}
.registerpage__item.active:nth-of-type(2)::after {
    content: 'this email was registered already';
}
.registerpage__item.active:nth-of-type(3):after {
    content: 'the passwords are not equals';
}
.registerpage__item ion-icon {
    color: grey;
    position: absolute;
    top: 23px;
    right: 24px;
    cursor: pointer;
}